.footer {
  margin-top: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 3.5rem 3rem;
  justify-content: space-around;
  border-bottom: 0.1rem solid rgb(225, 231, 238);
  background-color: rgb(239, 243, 248);
}
