.hotelImage {
  width: 500px;
  border-radius: 28px;
  display: flex;
  border-radius: 1.2rem;
  object-fit: cover;
  width: 33%;
  height: 8rem;
}
.bookingDetailCard {
  padding: 1rem;
  width: 100%;
  height: 19rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.hotelDetail {
  width: 80%;
  margin-left: 13rem;
  margin-top: -8rem;
  display: grid;
}

.bookingDetail {
  margin-top: 5rem;
  border-radius: 1.2rem;
  background: rgb(232, 243, 255);
  padding: 1rem;
  color: black;
  display: flex;
  justify-content: space-evenly;
}
.priceSummaryTable {
  width: 23rem;
  padding: 1rem;
}
.priceSummaryCard {
  width: 23rem;
  border-bottom-left-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
}
.priceSection {
  float: right;
}

.totalPriceBox {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgb(239, 243, 248);
  width: 21rem;
  padding-bottom: 0.5rem;
  margin-left: 0.7rem;
}
.priceSummaryHeader {
  border: 1px solid rgb(223 223 223);
  width: 23rem;
  padding: 2rem 2rem 1.5rem;
  border-bottom: 0.1rem solid rgb(223 223 223);
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  font-size: x-large;
  background-color: white;
}
.bookingInfo {
  border: 1px solid rgb(223 223 223);
  width: 39.8rem;
  padding: 2rem 2rem 1.5rem;
  border-bottom: 0.1rem solid rgb(223 223 223);
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  font-size: x-large;
  background-color: white;
}
.backgroundSection {
  width: 100%;
  background-color: rgb(34, 116, 224);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 27rem;
}
.bookingContainer {
  margin-top: 5rem;
}
.priceInfoContainer {
  margin-left: 0rem;
}

.guestDetailContainer {
  margin-top: 1rem;
}
.paymentButton {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 37rem;
}
